{{ define "main" }}
  {{ with .Params.detail_image }}<img class="detail_header" src="{{ . }}">{{ end }}

  {{ with .Params.categories }}
    <div class="p st-tags">
      {{ $list := (slice .) }}
      {{ $first := index $list 0 }}
      {{ if eq (printf "%T" $first) "[]string" }}
        {{ range $first }}
          <a href="/categories#{{ . }}" title="{{ . }}">◸{{ . }}</a>
        {{ end }}
      {{ else }}
        {{ range $list }}
          <a href="/categories#{{ . }}" title="{{ . }}">◸{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  {{ .Content }}
{{ end }}
