<footer>

  <div>
    {{- $dosk := "springhack" -}}
    {{ if .IsHome }}
      {{ $dosk }}
    {{ else }}
      {{ $dosk }}/{{ trim .RelPermalink "/" }}
    {{ end }}
  </div>

  <div class="contact-me">
    <a href="{{ "atom.xml" | relURL }}"> {{ emojify ":antenna_bars:" }} RSS</a>
    {{ with .Site.Params.github_username }}<a href="https://github.com/{{ . }}"> {{ emojify ":earth_asia:" }} GITHUB</a>{{ end }}
    {{ with .Site.Params.twitter_username }}<a href="https://x.com/{{ . }}"> {{ emojify ":earth_asia:" }} TWITTER</a>{{ end }}
  </div>

</footer>
