<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body class="{{ .Site.Params.fontSize }}">
    {{ partial "header.html" . }}
    <main>
      <div class="error_box">
        <h1>404 - PAGE NOT FOUND</h1>
        <p>你来到这个页面，通常有两个原因。</p>
        <h2>一、链接错误</h2>
        <p>例如博客搬迁造成的旧链接失效。</p>
        <h2>二、维度攻击</h2>
        <p>不明力量入侵，你想要访问的页面被摧毁了。</p>
        <pre>
一定是发生了什么可怕的事情....

             ,----------------,              ,---------,
        ,-----------------------,          ,"        ,"|
      ,"                      ,"|        ,"        ,"  |
     +-----------------------+  |      ,"        ,"    |
     |  .-----------------.  |  |     +---------+      |
     |  |                 |  |  |     | -==----'|      |
     |  |  404 NOT FOUND! |  |  |     |         |      |
     |  |  SYSTEM DOWN    |  |  |/----|`---=    |      |
     |  |  C:\>_          |  |  |   ,/|==== ooo |      ;
     |  |                 |  |  |  // |(((( [33]|    ,"
     |  `-----------------'  |," .;'| |((((     |  ,"
     +-----------------------+  ;;  | |         |,"     - SpringHack -
        /_)______________(_/  //'   | +---------+
   ___________________________/___  `,
  /  oooooooooooooooo  .o.  oooo /,   \,"-----------
 / ==ooooooooooooooo==.o.  ooo= //   ,`\--{)B     ,"
/_==__==========__==_ooo__ooo=_/'   /___________,"
\-----------------------------'
        </pre>
        <style>
          pre { border: none; background: none; line-height: initial; }
        </style>
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>

