{{ define "main" }}
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ $p := .Paginate $posts }}
  {{ range $p.Pages }}
    <li class="post-item">
      {{ .Date.Format "2006/01/02" }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ if .Description }}
        -- {{ .Description }}
      {{ else if .Summary }}
        -- {{ .Summary | plainify }}
      {{ end }}
    </li>
  {{ end }}

  <div class="flex-spacer"></div>

  <div class="home-paginator">
    {{ if $p.HasPrev }}
      {{ if eq $p.Prev.PageNumber 1 }}
        <a href="/" class="btn btn-outline">&laquo;</a>
      {{ else }}
        <a href="/page/{{ $p.Prev.PageNumber }}/" class="btn btn-outline">&laquo;</a>
      {{ end }}
    {{ else }}
      <button disabled="disabled" class="btn btn-outline">&laquo;</button>
    {{ end }}

    {{ if eq $p.PageNumber 1 }}
      <a href="javascript:;" class="active btn btn-outline">1</a>
    {{ else }}
      <a href="/" class="btn btn-outline">1</a>
    {{ end }}

    {{ $total := $p.TotalPages }}
    {{ range $i := seq 2 $total }}
      {{ if eq $i $p.PageNumber }}
        <a href="javascript:;" class="active btn btn-outline">{{ $i }}</a>
      {{ else }}
        <a href="/page/{{ $i }}/" class="btn btn-outline">{{ $i }}</a>
      {{ end }}
    {{ end }}

    {{ if $p.HasNext }}
      <a href="/page/{{ $p.Next.PageNumber }}/" class="btn btn-outline">&raquo;</a>
    {{ else }}
      <button disabled="disabled" class="btn btn-outline">&raquo;</button>
    {{ end }}
  </div>
{{ end }}

